.login {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.1)
    ),
    url("/images/adidas-shirt.jpg");
  background-size: cover;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-title {
  font-size: 50px;
  text-align: center;
}
.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.login-form > label {
  margin: 10px 0;
}
.login-form > input {
  padding: 10px;
  background: white;
  border: none;
}
.login-btn {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--candy-3);
  color: var(--candy-1);
  border: none;
  border-radius: 11px;
  padding: 9px;
}

.login-signin-btn {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: var(--candy-3);
  color: var(--helado-3);
  cursor: pointer;
  border: none;
  padding: 8px;
  border-radius: 11px;
}
